*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header *{
    text-align: center;
    padding: 20px;
    width: 70%;
    margin: 20px auto;

}

h1{
    color: #e53170;
}

main{
    width: 70%;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;

}

img{
    height: 100px;
    width: 100px;
}

.card{
    background-color: #0f0e17;
    width: 30%
}

.card-1 , .card-2 {
    float: left;
}

.card-2{
    margin-left: 5%;
}

.card-3{
    float: right;
}

img{
    float: left;
}

data{
    float: left;
}

.name , .position{
    color: white;
}

.email{
    color: #63b5d7;
}