*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

header *{
    text-align: center;
    padding: 20px 0;
    width: 70%;
    margin: 20px auto;
}

h1{
    color: #e53170;
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
}

p{
    font-size: 20px;
}

main{
    width: 70%;
    margin: auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;

}

img{
    height: 100px;
    width: 100px;
}

.card{
    background-color: #0f0e17;
    width: 30%;
    box-shadow: 0 0 10px;
    font-size: 16px;
}

.card-1 , .card-2 {
    float: left;
}

.card-2{
    margin-left: 5%;
}

.card-3{
    float: right;
}

img{
    float: left;
}

.data{
    float: left;
    padding: 15px;
    vertical-align: middle;
}

.name , .position{
    color: white;
}

.position{
    margin: 5px 0;
}

.name{
    font-family: 'Fredoka One', cursive;
}

.email{
    color: #63b5d7;
}

.row{
    padding: 30px 0;
}

